body {
    background-color: #d3d3d3;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

h2 {
    font-family: 'Sigmar One', cursive;
    ;
}

.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*logo*/
#logo-img {
    margin-top: 15px;


}

#logo_container {
    height: 400px;
    max-width: 100%;
    position: relative;
}

.responsive {
    display: 100%;
    height: auto;
}

@media (max-width:400px) {
    .logo_container {
        max-width: 100%;
        max-height: 100%;
    }
}


.page-footer {
    background-color: #000000;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 50px;
    width: 280px;
}

/* Home Page Image row*/

.card-image-grid {
    height: 200px;
    overflow: hidden;
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}

.card-image>img {
    object-fit: contain;
}

.film-cards,
.category-cards {
    display: flex;
    flex-flow: wrap;
    width: 90%;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}

/*Film cards*/

.card-image-grid {
    height: 300 px;
    overflow: hidden;
}

.card-image>img {
    object-fit: cover;
}

.film-cards,
.category-cards {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}


.card-background {
    margin-left: 0px !important;
}

.card-background .card-text {
    text-align: left;
    font-size: 12px !important;
    padding: 15px;
}

.card-reveal-info {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.card-reveal-description {
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.card-image-with-button {
    position: relative;
}

.btn-delete {
    right: 1px !important;
}

.btn-edit {
    right: 45px !important;
}

.flash-modal-content {
    text-align: center;
}

.flash-modal-content p {
    margin-bottom: 0px;
    font-size: 18px;
}

.flash-modal-button {
    text-align: center !important;
}

/*About Page*/
#about-img {
    width: 50%;
    display: flex;
}