body {
    background-color: #fffff;
}

.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*logo*/
#logo-img {
    margin: 15px;

}

#logo_container {
    height: 400px;
    width: 100%;
    position: relative;
}

.responsive {
    display: 100%;
    height: auto;
}

.page-footer {
    background-color: #000000;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 50px;
    width: 280px;
}

/* Home Page Image row*/

.card-image-grid {
    height: 200px;
    overflow: hidden;
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}

.card-image>img {
    object-fit: contain;
}

.film-cards,
.category-cards {
    display: flex;
    flex-flow: wrap;
    width: 90%;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}

/*Film cards*/

.card-image-grid {
    height: 300 px;
    overflow: hidden;
}

.card-image>img {
    object-fit: cover;
}

.film-cards,
.category-cards {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}


.card-background {
    margin-left: 0px !important;
}

.card-background .card-text {
    text-align: left;
    font-size: 12px !important;
    padding: 15px;
}

.card-reveal-info {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.card-reveal-description {
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.card-image-with-button {
    position: relative;
}

.btn-delete {
    right: 1px !important;
}

.btn-edit {
    right: 45px !important;
}

.flash-modal-content {
    text-align: center;
}

.flash-modal-content p {
    margin-bottom: 0px;
    font-size: 18px;
}

.flash-modal-button {
    text-align: center !important;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 400px;
    padding: 10px;
    background-color: #555;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    line-height: 1px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}