{% extends "base.html" %}
{% block content %}

<!--Home page image ...code credit: https://www.w3schools.com/howto/howto_css_hero_image.asp-->
<div class="hero-image">
    <img src="{{ url_for('static', filename='images/upshot_banner_1.jpg') }}" class="heroimg" alt="upshot banner image"
        style="width:100%;">
</div>

<!-- Intro paragraph incuding links to create an accoutn and log in-->
<div class="container">
    <p class="center-align">
        Read the latest film reviews uploaded by our users or write your own reviews for others!<br />
        {% if not session.user %}
        Click here to create your own account and submit a new reviews. <a href="{{ url_for('create') }}">Create
            an account</a><br />
        Already registered? <a href="{{ url_for('login') }}">Log in</a>
        {% endif %}
    </p>
    <h3 class="recently-added center-align">Recently added reviews</h3>

    <!--Review cards-->
    <div class="row">
        <ul class="film-cards">
            {% for film in recently_added_films %}
            <li class="card-sizing card card-background center-align">
                <div class="card-image-with-button">
                    <div class="card-image card-image-grid waves-effect waves-block waves-light">
                        <img class="activator" src="{{ film.image_url }}" alt="default film image" />
                    </div>
                </div>
                <div class="card-content card-name">
                </div>
                <div class="card-reveal card-text">
                    <div class="card-title">
                        <i class="material-icons right">close</i>
                        <strong>{{ film.film_title }}</strong> <br />
                        <br />
                        <p class="card-reveal-info"><i class="fas fa-theater-masks prefix cyan-text lighten-1"></i>
                            {{ film.genre_name }}</p>
                        <p class="card-reveal-info"><i class="fas fa-text-align cyan-text lighten-1"></i>
                            {{ film.review }}</p>
                        <p class="card-reveal-info"><i class="fas fa-profile cyan-text lighten-1"></i>
                            Reviewed by: {{ film.reviewed_by }}</p>
                        <p class="card-reveal-info">
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p>
            Search the database for any film by title.
        </p>
    </div>
    <!-- Search bar to find film in database -->
    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="get" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix black-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query" style="font-size: 75%;">Search Reviews</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="black darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i>
                        <span class="hide-on-small-only" aria-label="Search button">Search</span>
                    </button>
                    <a href="{{ url_for('get_films') }}" class="grey btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>
    {% if request.path == url_for('search') %}
    <p class="center-align">Showing results for <i>{{search_str}}</i></p>
    {% if films|length > 0 %}
    <!--Film cards-->
    <div class="row">
        <ul class="film-cards">
            {% for film in films %}
            <li class="card-sizing card card-background center-align">
                <div class="card-image-with-button">
                    <div class="card-image card-image-grid waves-effect waves-block waves-light">
                        <img class="activator" src="{{ film.image_url }}" alt="film image" />
                    </div>
                </div>
                <div class="card-content card-name">
                    <span class="card-title title-bottom activator">{{ film.film_title }}</span>
                </div>
                <div class="card-reveal card-text">
                    <div class="card-title">
                        <i class="material-icons right">close</i>
                        <strong>{{ film.film_title }}</strong> <br />
                        <br />
                        <p class="card-reveal-info"><i class="fas fa-theater-masks prefix cyan-text lighten-1"></i>
                            {{ film.genre_name }}</p>
                        <p class="card-reveal-info"><i class="fas fa-text-align cyan-text lighten-1"></i>
                            {{ film.review }}</p>
                        <p class="card-reveal-info"><i class="fas fa-profile cyan-text lighten-1"></i>
                            Reviewed by: {{ film.reviewed_by }}</p>
                        <p class="card-reveal-info">
                        </p>
                    </div>
                </div>
                <p class="card-reveal-description">{{ film.review}}</p>
                <p class="card-reveal-info"><em>added by: {{ film.reviewed_by }}</em></p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
    {% endif %}
</div>
{% endblock %}