{% extends "base.html" %}
{% block content %}

<!--Home page image ...code credit: https://www.w3schools.com/howto/howto_css_hero_image.asp-->
<div class="hero-image">
    <img src="{{ url_for('static', filename='images/upshot_banner.png') }}" class="heroimg" alt="upshot banner image"
        style="width:100%;">
</div>


<main class="container">
    <p class="center-align">
        Read the latest film reviews uploaded by our users or write your own reviews for others!<br />
        {% if not session.user %}
        Click here to create your own account and submit a new reviews. <a href="{{ url_for('create') }}">Create
            an account</a><br />
        Already registered? <a href="{{ url_for('login') }}">Log in</a>
        {% endif %}
    </p>
    <h3 class="recently-added center-align">Recently added reviews</h3>
    <!--Review cards-->

    <div class="row">
        <ul class="film-cards">
            {% for film in recently_added_films %}
            <li class="card-sizing card card-background center-align">
                <div class="card-image-with-button">
                    <div class="card-image card-image-grid waves-effect waves-block waves-light">
                        <img class="activator" src="{{ film.image_url }}" alt="default film image" />
                    </div>
                </div>
                <div class="card-content card-name">
                </div>
                <div class="card-reveal card-text">
                    <div class="card-title">
                        <i class="material-icons right">close</i>
                        <strong><a href="{{ film.film_title }}" target="_blank"
                                rel="noopener noreferrer">{{ film.film_title }}</a></strong> <br />
                        <br />
                        <p class="card-reveal-info"><i class="fas fa-theater-masks prefix cyan-text lighten-1"></i>
                            {{ film.genre_name }}</p>
                        <p class="card-reveal-info"><i class="fas fa-text-align cyan-text lighten-1"></i>
                            {{ film.review }}</p>
                        <p class="card-reveal-info"><i class="fas fa-profile cyan-text lighten-1"></i>
                            Reviewed by: {{ film.reviewed_by }}</p>
                        <p class="card-reveal-info">
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}