{% extends "base.html" %}
{% block content %}

<!-- heading with users profile name-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align black-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<h4 class="center-align">My Reviews</h4>
{% if user_films|length > 0 %}

<!--Film Review cards-->
<div class="row">
    <ul class="collapsible">
        {% for film in user_films %}
        <li>
            <div class="collapsible-header white-text blue-grey darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <img class="activator" src="{{ film.image_url }}" alt="default film image" style=max-width:50px; />
                <strong>{{ film.film_title }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>Genre: </strong> {{ film.genre_name }}
                <p>{{ film.review }}</p>
                <p><em>by: {{ film.reviewed_by }}</em></p>
                {% if session.user|lower == film.reviewed_by|lower %}
                <a href="{{ url_for('delete_film', film_id=film._id)}}" class="btn-small green accent-4">Delete</a>
                <a href="{{ url_for('edit_film', film_id=film._id)}}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- if user has no film reviews added-->
</div>
{% else %}
<h3 class="red-text text-darken-4 center-align">You have not added any movies yet.</h3>
{% endif %}

{% endblock %}