{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for film in films %}
    <li>
        <div class="collapsible-header white-text blue-grey darken-4 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ film.film_title }}</strong>
            {% if film.is_watchlist == "on" %}
            <i class="fas fa-film blue-grey-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="Added to your watchlist"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <p>Date Added: {{ film.date_added }}</p>
            <strong>Film Score:{{ film.score }}</strong> {{ film.genre }}
            <p>{{ film.review }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}